#imgid{
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    height: 10rem;
}

.card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

.section__name{
    font-family: 'Aboreto', cursive;
  }
.test{
    /* background-color: #CFD2CF; */
    background-color: #e7e8ea;
}
.namecolor{
   /* color: #333; */
   color: #e7e8ea;
}
.img-fluid{
    filter: brightness(85%);

}
.grad {
    background-image: linear-gradient(#4C3575,#6543a1);
  }

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #7824f6;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.styled-table tbody tr{
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    /* border-bottom: 2px solid #009879; */
    border-bottom: 2px solid #7824f6;
}

/* .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}  */

#seccolor{
    background-color: #E6E6FA;
    /* lavender */
}